<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/general.css">
  <title>Edit <%= ingredient.displayName %></title>
</head>
<body>
  <h1>Edit <%= ingredient.displayName %></h1>
  <%- include('../partials/_navbar.ejs') %>
  <form action="/ingredients/<%=ingredient._id%>?_method=PUT" method="POST">
    <label for="displayName">Name:</label>
    <input type="text" name="displayName" value="<%= ingredient.displayName %>">
    <button type="submit">Submit</button>
  </form>
</body>
</html>