<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/general.css">
  <title>Edit <%= recipe.name %></title>
</head>
<body>
  <h1>Edit <%= recipe.name %></h1>
  <%- include('../partials/_navbar.ejs') %>
  <form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST" class="form-type1">
    <div>
      <label for="name">Recipe Name:</label>
      <input type="text" name="name" id="recipe-name" value="<%= recipe.name %>">
    </div>
    <label for="instructions">Instructions:</label>
    <textarea name="instructions" id="recipe-instructions"><%= recipe.instructions %></textarea>
    <div class="input-ingredients">
      <label for="ingredients">Ingredients</label>
      <% for(let i of recipe.ingredientNames) { %>
        <input type="text" name="ingredients" value="<%= i %>">
      <% } %>
      <% const moreInputs = (3 - recipe.ingredientNames.length); if( moreInputs > 0){ for(let i = 0;i<moreInputs;i++) { %>
        <input type="text" name="ingredients" value="">
      <% }}; %>
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
</html>