<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/general.css">
  <title>My Recipes</title>
</head>
<body>
  <h1>My Recipes</h1>
  <%- include('../partials/_navbar.ejs') %>
  <% if(recipe) { %>
    <h1><%= recipe.name %></h1>
    <h2>Instructions:</h2>
    <p><%= recipe.instructions %></p>
    <h2>Ingredients:</h2>
    <% if(ingredients.length) { %>
      <ul>
        <% for(let ingr of recipe.ingredients) { %>
        <% let curIngr = ingredients.find(el => el._id.toString() === ingr.refId.toString()); %>
          <li><strong><%= curIngr.displayName || ingr.refId %>:</strong> <%= ingr.qty %> <%= ingr.unit.toUpperCase() %>(s)</li>
        <% } %>
      </ul>
    <% } else { %>
      <p>No ingredients have been added.</p>
    <% } %>
    <div class="flex-row">
      <form action="/recipes/<%= recipe._id %>/edit" method="GET">
        <button type="submit">Edit</button>
      </form>
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
  <% } %>
</body>
</html>